<% provide(:title, "Edit - " + @workout.title) %>
<% provide(:button_text, 'Update') %>

<!-- MAIN PAGE CONTENT -->
<div class="row">
  <div class="col-md-4">
    <h1 class="page-header">Edit Workouts</h1>
    <%= render "form" %>
  </div>
</div>
