<h1><%= current_user.name %>'s Dashboard</h1>

<% if current_user.workouts.any? %>
  <h3>Recent Workouts</h3>
  <ul>
    <% current_user.workouts.last(3).each do |w| %>
      <li><%= link_to w.title, w %> Date: <%= w.date %></li>
    <% end %>
  </ul>
<% else %>
  <h3>Welcome to your personal training applicaiton</h3>
  <p>If you haven't begun logging new workouts please get started below.</p>
  <%= link_to "Start Here", new_workout_path, class: "btn btn-default" %>
<% end %>
