// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-panel {
  margin-top: 40px;
}

.workout-title {
 font-size: 2em;
 letter-spacing: -1px;

 small {
   font-size: 75%;
 }
}
